@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f7f7f7;
  --color-neutral-300: #eff2f6;
  --color-neutral-400: #d9dfe9;
  --color-neutral-500: #a0abbd;
  --color-neutral-600: #5c6779;
  --color-neutral-700: #4f5a6e;
  --color-neutral-800: #030b1a;

  /* Font Sizes */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem; /* base */
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.375rem;
  --font-size-3xl: 1.5rem;
  --font-size-4xl: 1.75rem; /* name */
  --font-size-5xl: 1.875rem;
  --font-size-6xl: 2.125rem;
  --font-size-7xl: 2.25rem;
  --font-size-8xl: 3.125rem;

  /* Box Shadows */
  --box-shadow-short-default: 0px 5px 12px 0px rgba(8, 15, 52, 0.05);
  --box-shadow-short-hover: 0px 18px 24px 0px rgba(8, 15, 52, 0.08);
  --box-shadow-long: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

body {
  color: #000;
  background: #f7f7f7;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

@layer base {
  *::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  * {
    scrollbar-width: none;
  }
}
